/*Desktop View*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 80px;
    color: white;
}

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 50px;
}

.nav-options {
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    list-style-type: none;
}

.mobile-option {
    display: none;
}

.option a {
    color: #ffffff;
    text-decoration: none;
}

.option :hover {
    padding-bottom: 10px;
    border-bottom: 1px solid red;
    transition: 0.3s;
}

.loginContainer {
    display: flex;
    padding: 0px 5px;
    list-style-type: none;
    align-items: center;
}

.loggedInUser {
    margin-left: 50px;
    background-color: red;
    padding: 15px 17px;
    border-radius: 50%;
}

.dropdown {
    padding: 15px;
    position: relative;
}

.userCircle {
    background-color: red;
    padding: 15px 17px;
    border-radius: 50%;
    margin: 10px;
}

.dropdown .dropbtn {
    margin-left: 50px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e2d2d;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 12;
    top: 65px;
    right: 35px;
    transition: .5s;
}

.dropdown-content:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2e2d2d;
    position: absolute;
    top: -10px;
    right: 5px;
}

.dropdown-content .userDetail {
    display: flex;
    align-items: center;
}

.userDetail .data {
    margin-right: 10px;
}

.data .welcomeMsg {
    display: block;
    font-weight: 700;
}

.data span:last-child {
    font-size: small;
}

.dropdown-list {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.dropdown-content a {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: .5s;
}

.dropdown-content .dropdown-list:hover {
    background-color: #1b1a1a;
    border-left: 1px solid #ffffff;
    transition: .5s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mobile-menu {
    display: none;
}


@media (max-width: 648px) {
    /*Mobile View */
    .header {
        padding: 0px 10px;
    }

    .logo {
        height: 50px;
    }

    .nav-options {
        display: flex;
        width: 100%;
        height: 350px;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;
        grid-gap: 0px;
    }

    .nav-options.active {
        background: #000000;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 11;
        align-content: center;
        padding-left: 0px;
    }

    .menu-icon {
        width: 45px;
        height: 45px;
    }

    .option {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 30px 0px;
    }

    .sign-up {
        background: rgb(222, 9, 241);
        border-radius: 3px;
        color: white;
        padding: 20px 0px;
        width: 80%;
        align-self: center;
        border-radius: 3px;
    }

    .dropdown .dropbtn {
        margin-left: 0px;
    }


    .mobile-menu {
        display: block;
    }

    .mobileLogin {
        display: flex;
        align-items: baseline;
    }

}