@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkred;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ac2626;
}
.bannerSlider .slick-prev {
  left: 25px;
  z-index: 10;
}
.bannerSlider .slick-next {
  right: 25px;
  z-index: 10;
}
